<div layout="column" id="introContainer" layout-fill="layout-fill">
	<md-content>
	    <md-toolbar class="md-hue-2">
	      <div class="md-toolbar-tools">
	        <md-button class="md-icon-button" aria-label="Settings">
	          <md-icon md-svg-icon="images/icons/ic_menu_white_24px.svg"></md-icon>
	        </md-button>
	        <h2>
	          <span>TicTic Todo</span>
	        </h2>
	        <span flex></span>
	        <md-button ui-sref="login" class="md-raised md-warn" aria-label="Go to App">
	          Go to App
	        </md-button>
	      </div>
	    </md-toolbar>
	</md-content>
	<div style="height:100%" layout="row" layout-align="center center">
		<h1 style="font-size:50px;color:#ffffff;">TICTIC TODO</h1>
	</div>
</div>