<md-toolbar layout="row" class="header_toolbar md-hue-2">
        <div class="md-toolbar-tools">
          <md-button ng-click="toggleSidenav('left')" hide-gt-sm class="md-icon-button" aria-label="Settings">
            <md-icon md-svg-icon="images/icons/ic_menu_white_24px.svg"></md-icon>
          </md-button>
          <h2>
            <span>TicTicTodo<sup style="font-size:xx-small;"><em>Beta</em></sup> </span>
          </h2>
          <span flex></span>
          <md-button ng-click="load();" class="md-icon-button" aria-label="Favorite">
            <md-icon md-svg-icon="images/icons/ic_autorenew_white_24px.svg" style="color: greenyellow;"></md-icon>
          </md-button>
          <md-button class="md-icon-button" aria-label="More">
            <md-icon md-svg-icon="images/icons/ic_more_vert_white_24px.svg"></md-icon>
          </md-button>
        </div>
  </md-toolbar>