<md-sidenav layout="column" md-disable-backdrop class="md-sidenav-right todo_detail_sidenav md-whiteframe-z2" md-component-id="right" >
            <md-toolbar class="user_info_toolbar md-hue-2">
              <md-button ng-click="toggleSidenav('right')" class="md-icon-button" aria-label="More">
                <i style="color:#ffffff;" class="material-icons">arrow_back</i>
              </md-button>
            </md-toolbar>

            <div id="list_detail_data">
            value is - {{value}}
            list id is {{list_id}}<br/>
            todo id is {{todo_id}}
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident cupiditate ducimus, distinctio blanditiis. Vero veritatis quidem optio nostrum ex ipsam iure nobis, repudiandae, quasi at ad qui tempora excepturi rem.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident cupiditate ducimus, distinctio blanditiis. Vero veritatis quidem optio nostrum ex ipsam iure nobis, repudiandae, quasi at ad qui tempora excepturi rem.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident cupiditate ducimus, distinctio blanditiis. Vero veritatis quidem optio nostrum ex ipsam iure nobis, repudiandae, quasi at ad qui tempora excepturi rem.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident cupiditate ducimus, distinctio blanditiis. Vero veritatis quidem optio nostrum ex ipsam iure nobis, repudiandae, quasi at ad qui tempora excepturi rem.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident cupiditate ducimus, distinctio blanditiis. Vero veritatis quidem optio nostrum ex ipsam iure nobis, repudiandae, quasi at ad qui tempora excepturi rem.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident cupiditate ducimus, distinctio blanditiis. Vero veritatis quidem optio nostrum ex ipsam iure nobis, repudiandae, quasi at ad qui tempora excepturi rem.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident cupiditate ducimus, distinctio blanditiis. Vero veritatis quidem optio nostrum ex ipsam iure nobis, repudiandae, quasi at ad qui tempora excepturi rem.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident cupiditate ducimus, distinctio blanditiis. Vero veritatis quidem optio nostrum ex ipsam iure nobis, repudiandae, quasi at ad qui tempora excepturi rem.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident cupiditate ducimus, distinctio blanditiis. Vero veritatis quidem optio nostrum ex ipsam iure nobis, repudiandae, quasi at ad qui tempora excepturi rem.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident cupiditate ducimus, distinctio blanditiis. Vero veritatis quidem optio nostrum ex ipsam iure nobis, repudiandae, quasi at ad qui tempora excepturi rem.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident cupiditate ducimus, distinctio blanditiis. Vero veritatis quidem optio nostrum ex ipsam iure nobis, repudiandae, quasi at ad qui tempora excepturi rem.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident cupiditate ducimus, distinctio blanditiis. Vero veritatis quidem optio nostrum ex ipsam iure nobis, repudiandae, quasi at ad qui tempora excepturi rem.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident cupiditate ducimus, distinctio blanditiis. Vero veritatis quidem optio nostrum ex ipsam iure nobis, repudiandae, quasi at ad qui tempora excepturi rem.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident cupiditate ducimus, distinctio blanditiis. Vero veritatis quidem optio nostrum ex ipsam iure nobis, repudiandae, quasi at ad qui tempora excepturi rem.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident cupiditate ducimus, distinctio blanditiis. Vero veritatis quidem optio nostrum ex ipsam iure nobis, repudiandae, quasi at ad qui tempora excepturi rem.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident cupiditate ducimus, distinctio blanditiis. Vero veritatis quidem optio nostrum ex ipsam iure nobis, repudiandae, quasi at ad qui tempora excepturi rem.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident cupiditate ducimus, distinctio blanditiis. Vero veritatis quidem optio nostrum ex ipsam iure nobis, repudiandae, quasi at ad qui tempora excepturi rem.</p>
            </div>

          </md-sidenav>